<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://v5.bootcss.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.1/echarts.min.js"></script>
        <link href="https://v5.bootcss.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">

            </head>
    <body style="height: 100%; margin: 0">

    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true" id="bt-display">人物</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">人物</a></li>
            <li><a class="dropdown-item" href="#">事件</a></li>
            <li><a class="dropdown-item" href="#">关系</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">其他</a></li>
          </ul>
      <input type="text" class="form-control" placeholder="输入检索词，默认支持正则表达式" aria-label="Input query" id="query">
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">检索设置</button>
        <button class="btn btn-primary" type="button" id="search_button">搜索</button>
    </div>
        <div id="container" style="height: 100%"></div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">检索策略设置</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <ul>
              <li>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                  <label class="form-check-label" for="flexCheckCheckedDisabled">
                    支持正则表达式
                  </label>
                  </div>
              </li>
              <li>
                  <div class="row mb-3">
                      <label class="col-sm-4">限制关联节点数</label>
                      <div class="col-sm-5">
                          <input type="range" class="form-range" min="10" max="80" step="10" id="neighborRange" value="10">
                      </div>
                      <div class="col-sm-2" id="neighborValue">10</div>
                  </div>
              </li>
              <li>
                  <div class="row mb-3">
                      <label class="col-sm-4">关联默认检索类型</label>
                      <div class="col-sm-4">
                          <select class="form-select form-select-sm" id="stype" aria-label=".form-select-sm example">
                              <option selected>人物节点</option>
                              <option value="事/物节点">事/物节点</option>
                              <option value="其他节点">其他节点</option>
                          </select>
                      </div>
                      <div class="col-sm-4 text-light">(事件模式下失效)</div>
                  </div>
              </li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭窗口</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">保存更改</button>
      </div>
    </div>
  </div>
</div>

{#        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-nightly@5.1.2-dev.20210512/dist/echarts.min.js"></script>#}
{##}
{#        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-nightly@5.1.2-dev.20210512/dist/extension/dataTool.min.js"></script>#}
{#        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>#}
{#        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>#}

        <!-- Uncomment this line if you want to use map
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-nightly@5.1.2-dev.20210512/map/js/china.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-nightly@5.1.2-dev.20210512/map/js/world.js"></script>
        -->
        <!-- Uncomment these two lines if you want to use bmap extension
        <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=<Your Key Here>"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-nightly@5.1.2-dev.20210512/dist/extension/bmap.min.js"></script>
        -->

        <script type="text/javascript">
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};

            var option;

            option = {
                title: {
                    text: '当前视图为空',
                    subtext: '请利用上方检索栏进行检索'
                },
                tooltip: {
                    confine: true,
                    extraCssText:'margin:20px;white-space:pre-wrap',
                     formatter: function (x) {
                         if(x.dataType=='node') {
                             var name = x.data.name
                             var type = x.data.nodeType
                             if(type == '事/物节点') {
                                 var text = name + ("<br /> <span class=\"badge bg-warning rounded-pill text-dark\">" + type + "</span>")
                             }
                             else if(type == '人物节点'){
                                 var text = name + ("<br /> <span class=\"badge bg-success rounded-pill\">" + type + "</span>")
                             }
                             else{
                                 var text = name
                             }
                             return text
                         }
                         else{
                             if(x.data.texts) {
                                 var texts = x.data.texts
                                 var source = x.data.source
                                 var target = x.data.target
                                 texts = texts.replace(source, "<span class=\"text-danger\"><b>" + source + "</b></span>")
                                 texts = texts.replace(target, '<span class=\"text-danger\"><b>' + target + '</b></span>')
                                 texts = "<span class=\"badge bg-light rounded-pill text-dark\">原文：</span><br />" + texts
                                 return texts
                             }
                             else{
                                 return "<span class=\"badge bg-light rounded-pill text-dark\">关系分类：</span><br />" + x.data.value
                             }
                         }
                    }
                },
                animationDurationUpdate: 1500,
                animationEasingUpdate: 'quinticInOut',
                color:['#91cc75','#fac858'],
                series: [
                    {
                        type: 'graph',
                        layout: 'force',
                        symbolSize: 50,
                        roam: true,
                        label: {
                            show: true
                        },
                        edgeSymbol: ['circle', 'arrow'],
                        edgeSymbolSize: [4, 10],
                        edgeLabel: {
                            fontSize: 20
                        },
                        categories:[0,1],
                        data: [],
                        force: {
                            initLayout: 'circular',
                            gravity: 0.05,
                            repulsion: 1000,
                            edgeLength: 40
                        },
                        // links: [],
                        links: [],
                        lineStyle: {
                            opacity: 0.9,
                            width: 2,
                            curveness: 0.9
                        }
                    }
                ]
            };

            if (option && typeof option === 'object') {
                myChart.setOption(option);
            }

            myChart.on('click',function (params) {
                var query = params.data.name
                if(params.dataType == "node"){
                    console.log(params)
                    if(params.data.nodeType == "人物节点") {
                        var neighbor = $('#neighborRange').val()
                        var stype = $('#stype').val()
                        $.post(
                            "querysample",
                            {
                                "field": "人物",
                                "query": query,
                                "neighbor": neighbor,
                                "type": stype
                            },
                            function (result) {
                                if (result) {
                                    option['title']['text'] = "\"" + query + "\"的"+ stype +"关系匹配结果"
                                    option['title']['subtext'] = result['info']
                                    option['series'][0]['data'] = result['data'];
                                    option['series'][0]['links'] = result['links'];
                                    for (let i in result['links']) {
                                        result['links'][i]['label'] = {
                                            fontWeight: 'lighter',
                                            fontSize: 8,
                                            show: true,
                                            formatter: function (params) {
                                                return params.data.value;
                                            },
                                        };
                                        result['links'][i]['lineStyle'] = {
                                            curveness: 0.2
                                        }
                                    }
                                    myChart.setOption(option);
                                } else {
                                    alert("查询失败，可能是功能暂未完善，也可能是您的输入有误，烦请检查。")
                                }
                            }
                        )
                    }
                    else if(params.data.nodeType == "事/物节点"){
                        $.post(
                            "querysample",
                            {
                                "field": "事件",
                                "query": query
                            },
                            function (result) {
                                if (result) {
                                    option['title']['text'] = "\"" + query + "\"的相关人物匹配结果"
                                    option['title']['subtext'] = result['info']
                                    option['series'][0]['data'] = result['data'];
                                    option['series'][0]['links'] = result['links'];
                                    for (let i in result['links']) {
                                        result['links'][i]['label'] = {
                                            fontWeight: 'lighter',
                                            fontSize: 8,
                                            show: true,
                                            formatter: function (params) {
                                                return params.data.value;
                                            },
                                        };
                                        result['links'][i]['lineStyle'] = {
                                            curveness: 0.2
                                        }
                                    }
                                    myChart.setOption(option);
                                } else {
                                    alert("查询失败，可能是功能暂未完善，也可能是您的输入有误，烦请检查。")
                                }
                            }
                        )
                    }
                }})
        </script>
    <script>
        $('#search_button').click(function (e) {
            let query = $('#query').val();
            let field = $("#bt-display").text();
            if(field == '人物') {
                $.post(
                    "querynode",
                    {
                        "field": field,
                        "query": query
                    },
                    function (result) {
                        option['title']['text'] = "\"" + query + "\"的匹配节点";
                        option['title']['subtext'] = result['info'];
                        if (result['data']) {
                            option['series'][0]['data'] = result['data'];
                            option['series'][0]['links'] = [];
                        } else {
                            option['series'][0]['data'] = [{"name": "无结果"}]
                        }

                        //console.log(option)
                        myChart.setOption(option);

                    }
                )
            }
            else if(field == '事件'){
                $.post(
                    "querynode",
                    {
                        "field": field,
                        "query": query
                    },
                    function (result) {
                        option['title']['text'] = "\"" + query + "\"的匹配节点";
                        option['title']['subtext'] = result['info'];
                        if (result['data']) {
                            option['series'][0]['data'] = result['data'];
                            option['series'][0]['links'] = [];
                        } else {
                            option['series'][0]['data'] = [{"name": "无结果"}]
                        }
                        console.log(option)
                        myChart.setOption(option);

                    }
                )
            }
        })
    </script>

    <script>
        $('a.dropdown-item').click(function (e) {
            console.log($("#bt-display").text(this.text))
        })
    </script>
    <script>
        $('#neighborRange').on("input",function () {
            v = $('#neighborRange').val();
            $('#neighborValue').text(v)
        })
    </script>
    </body>
</html>