<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://v5.bootcss.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.1/echarts.min.js"></script>
        <link href="https://v5.bootcss.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
            </head>
    <body style="height: 100%; margin: 0">
<div class="sticky-top">
    <div class="position-relative" style="height: 5px">
        <div class="form-check form-switch position-absolute top-100 end-0">
          <input class="form-check-input" type="checkbox" id="switchCheck">
        </div>
    </div>
    <div class="border-bottom" style="height:40px"><p class="fs-4 text-center"><i class="bi bi-tornado"></i> <span class="fw-bolder">TextMining</span></p></div>
    <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link text-success" aria-current="page" href="/home">检索可视化</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bg-success rounded-pill" href="/bi">人物详解</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">相关详情</a>
      </li>
    </ul>

</div>
    <iframe width="100%" id="iframe" height="85%" src="https://app.powerbi.com/reportEmbed?reportId=1ba1eb05-6b30-467f-8f14-823ef00c2c77&autoAuth=true&ctid=97d19833-e6bb-4723-9cb8-c335efa903f6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    <img src="http://download.mariozzj.cn/img/material/powerbi.PNG" style="height:85%;margin-left:8%;margin-right: 8%" id="img">
    </body>
    <script>
        $("#img").hide()
        $('#switchCheck').on("input",function () {
            v = $('#switchCheck').prop("checked");
            if(v){
                $('#img').show();
                $('#iframe').hide()
            }
            else{
                $('#img').hide();
                $('#iframe').show()
            }
        });
    </script>
</html>